<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Template for User-Study by Kosmas Kritsis</title>
    
    <!-- Import favicon and custom CSS styling -->
    <!-- <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png" /> -->
    <link rel="stylesheet" href="/static/css/style.css">
    

    <!-- Import JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Import SurveyJS and the corresponding CSS -->
    <script src="https://unpkg.com/survey-jquery"></script>
    <link href="https://unpkg.com/survey-jquery/survey.min.css" type="text/css" rel="stylesheet"/>

    


</head>
<body>    
    <div class="mainCont">
        <!-- Container for the survey -->
        <div id="surveyContainer"></div>
    </div>
    <script type="text/javascript" src="static/js/index.js"></script>

</body>

</html>